@model List<Contact>

@{
    ViewData["Title"] = "Contacts";
}

<div class="d-flex flex-row justify-content-end mt-3">
    <form enctype="multipart/form-data" asp-action="ImportCsv" method="post">
        <dl>
            <dd>
                <input type="file" name="file"/>
            </dd>
        </dl>
        <input class="btn btn-primary" type="submit" value="Upload"/>
    </form>
</div>

<table id="contactsTable" class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Married</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contact in Model)
    {
        <tr data-id="@contact.Id">
            <form asp-action="Update" method="post">
                <input type="hidden" name="id" value="@contact.Id"/>

                <td>
                    <input type="text" name="updatedContact.Name" value="@contact.Name"/>
                </td>
                <td>
                    <input type="date" name="updatedContact.DateOfBirth" value="@contact.DateOfBirth.ToString("yyyy-MM-dd")"/>
                </td>
                <td>
                    <input type="checkbox" name="updatedContact.Married" value="true" @(contact.Married ? "checked" : "")/>
                </td>
                <td>
                    <input type="text" name="updatedContact.Phone" value="@contact.Phone"/>
                </td>
                <td>
                    <input type="number" name="updatedContact.Salary" value="@contact.Salary"/>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Save</button>
                </td>
            </form>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@contact.Id"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>